03.Sourcecode/IPCommon/DatasetMsg.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="DatasetMsg" targetNamespace="http://tempuri.org/DatasetMsg.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/DatasetMsg.xsd" xmlns:mstns="http://tempuri.org/DatasetMsg.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SchoolMsgs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SchoolMsg" type="xs:string" />
				<xs:element name="ID" type="xs:integer" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>